# `Lista`

Uma lista é uma coleção ordenada de elementos que podem ser ou não do mesmo tipo. Podemos ter strings, números, tuplas e até mesmo listas

`Listas de listas`

In [ ]:
#[[a1, a2,...,an], [b1, b2,...,bn], ..., [n1, n2,...,nn]]

In [ ]:
notas_turma = ['João', 8.0, 9.0, 10.0, 'Maria', 9.0, 7.0, 6.0, 'José', 3.4, 7.0, 7.0, 'Cláudia', 5.5, 6.6, 8.0, 'Ana', 6.0, 10.0, 9.5]

In [ ]:
nomes = []
notas_juntas = []

for i in range(len(notas_turma)):
  if i % 4 == 0:
    nomes.append(notas_turma[i])
  else:
    notas_juntas.append(notas_turma[i])

In [ ]:
nomes

['João', 'Maria', 'José', 'Cláudia', 'Ana']

In [ ]:
notas_juntas

[8.0, 9.0, 10.0, 9.0, 7.0, 6.0, 3.4, 7.0, 7.0, 5.5, 6.6, 8.0, 6.0, 10.0, 9.5]

In [ ]:
notas = []

for i in range(0, len(notas_juntas), 3): #por definir o valor, conseguimos passar para o append
  notas.append([notas_juntas[i], notas_juntas[i+1], notas_juntas[i+2]])
notas

[[8.0, 9.0, 10.0],
 [9.0, 7.0, 6.0],
 [3.4, 7.0, 7.0],
 [5.5, 6.6, 8.0],
 [6.0, 10.0, 9.5]]

In [ ]:
notas[0]

[8.0, 9.0, 10.0]

In [ ]:
notas[0][2] # Acessamos a nota individualmente definindo a posição na lista de listas
#(Do macro ao micro)

10.0

`Tuplas`

Estruturas de dados imutáveis da linguagem Python que são utilizadas para armazenar conjuntos de múltiplos itens e frequentemente são aplicadas para agrupar dados que **não devem ser modificados**. Ou seja, não é possível adicionar, alterar ou remover seus elementos depois de criadas

In [ ]:
cadastro = ("Júlia", 23, "São Paulo", "SP", "Python para DS 1")

In [ ]:
print(cadastro[0]) # imprime Júlia
print(cadastro[-1]) # imprime Python para DS 1

Júlia
Python para DS 1

In [ ]:
nome, idade, cidade, estado, turma = cadastro

In [ ]:
print(f'A estudante {nome} tem {idade} anos e mora em {cidade}-{estado}. Ela está matriculada na turma de {turma}.')

A estudante Júlia tem 23 anos e mora em São Paulo-SP. Ela está matriculada na turma de Python para DS 1.

In [5]:
estudantes = ["João", "Maria", "José", "Cláudia", "Ana"]
estudantes

['João', 'Maria', 'José', 'Cláudia', 'Ana']

In [2]:
from random import randint

def gera_codigo():
  return str(randint(0,999))

In [7]:
codigo_estudantes = []

for i in range(len(estudantes)):
  codigo_estudantes.append((estudantes[i], estudantes[i][0] + gera_codigo()))

  # Uma string também é um iterável e pode ser utilizada para indexação.
  # Se queremos pegar o primeiro elemento, isto é, a inicial de cada nome,
  # então devemos passar o número zero. Primeiro, buscamos o nome e, em seguida,
  # o elemento do nome. É uma ideia bem similar à de multi indexação com listas de listas.

codigo_estudantes

[('João', 'J179'),
 ('Maria', 'M839'),
 ('José', 'J452'),
 ('Cláudia', 'C970'),
 ('Ana', 'A993')]

`List Comprehension`

In [ ]:
#Formato padrão
#[expressão for item in lista]

In [8]:
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

In [9]:
def media(lista: list=[0]) -> float:
  ''' Função para calcular a média de notas passadas por uma lista

  lista: list, default [0]
    Lista com as notas para calcular a média
  return = calculo: float
    Média calculada
  '''

  calculo = sum(lista) / len(lista)

  return calculo

In [ ]:
#medias = [expressao for item in lista]

In [12]:
medias = [round(media(nota),1) for nota in notas]
medias

[9.0, 7.3, 5.8, 6.7, 8.5]

In [ ]:
#[expr for item in lista if cond]

In [13]:
nomes = [('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')]
medias = [9.0, 7.3, 5.8, 6.7, 8.5]

In [14]:
nomes = [nome[0] for nome in nomes]
nomes

['João', 'Maria', 'José', 'Cláudia', 'Ana']

`built-in function: zip()`

O zip() recebe um ou mais iteráveis (lista, string, dict, etc.) e retorna-os como um iterador de tuplas onde cada elemento dos iteráveis são pareados. Ela é útil para fazer iterações simultâneas em várias listas.

In [15]:
estudantes = zip(nomes, medias)
estudantes

In [16]:
estudantes = list(zip(nomes, medias))
estudantes

[('João', 9.0), ('Maria', 7.3), ('José', 5.8), ('Cláudia', 6.7), ('Ana', 8.5)]

In [ ]:
#candidatos = [exp for item in lista if cond]

In [19]:
candidatos = [estudante[0] for estudante in estudantes if estudante[1] >= 8.0]
candidatos

['João', 'Ana']

In [20]:
objeto_zip = zip([1,2,3])
objeto_zip

In [21]:
list(objeto_zip)

[(1,), (2,), (3,)]

Note que, com apenas um iterável, uma lista de tuplas foi gerada com cada tupla possuindo, como um dos pares, os elementos vindo da lista [1, 2, 3] e a outra parte dos pares vazia. Como utilizamos apenas um iterável, cada tupla está vazia no 2º elemento, uma vez que o zip() age em criar pares de iteráveis.

In [22]:
id = [1, 2, 3, 4, 5]
regiao = ["Norte", "Nordeste", "Sudeste", "Centro-Oeste", "Sul"]

mapa = list(zip(id, regiao))
mapa

[(1, 'Norte'),
 (2, 'Nordeste'),
 (3, 'Sudeste'),
 (4, 'Centro-Oeste'),
 (5, 'Sul')]

In [23]:
codigos = ["1000", "1001", "1002", "1003", "1004", "1005"]
frutas = ["maçã", "uva", "banana", "laranja"]

mercadorias = list(zip(codigos, frutas))
mercadorias

[('1000', 'maçã'), ('1001', 'uva'), ('1002', 'banana'), ('1003', 'laranja')]

In [24]:
tupla_iteravel = [('J392', 'João'), ('M890', 'Maria'), ('J681', 'José'), ('C325', 'Claúdia'), ('A49', 'Ana')]
ids, nomes  = zip(*tupla_iteravel)

ids = list(ids)
nomes = list(nomes)

print("IDs = ", ids)
print("Nomes = ", nomes)

IDs =  ['J392', 'M890', 'J681', 'C325', 'A49']
Nomes =  ['João', 'Maria', 'José', 'Claúdia', 'Ana']

A ideia de fazer um “unzip” é bem-vinda quando queremos extrair chaves ou valores separadamente ou gerar uma lista de tuplas separadas, com o conjunto de chaves e valores cada uma representados em uma tupla.

`List comprehension com if-else`

In [26]:
nomes = [('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')]
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
medias = [9.0, 7.3, 5.8, 6.7, 8.5]

In [ ]:
#[resultado_if if cond else resultado_else for item in lista]

In [ ]:
#situacao = [resultado_if if cond else resultado_else for item in lista]

In [28]:
situacao = ["Aprovado(a)" if media >=6 else "Reprovado" for media in medias]
situacao

['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']

In [ ]:
#[expr for item in lista de listas]

In [30]:
cadastro =[x for x in [nomes, notas, medias,situacao]]
cadastro

[[('João', 'J720'),
  ('Maria', 'M205'),
  ('José', 'J371'),
  ('Cláudia', 'C546'),
  ('Ana', 'A347')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']]

In [32]:
lista_completa = [nomes, notas, medias, situacao]
lista_completa

[[('João', 'J720'),
  ('Maria', 'M205'),
  ('José', 'J371'),
  ('Cláudia', 'C546'),
  ('Ana', 'A347')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado(a)', 'Aprovado(a)', 'Reprovado', 'Aprovado(a)', 'Aprovado(a)']]

` Dict Comprehension`

In [ ]:
#{chave: valor for item in lista}

In [35]:
lista_completa = [[('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')],
                  [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]],
                  [9.0, 7.3, 5.8, 6.7, 8.5],
                  ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']]

In [36]:
coluna = ["Notas", "Media Final", "Situação"]

cadastro ={coluna[i]: lista_completa[i+1] for i in range(len(coluna))} #necessário
# saltar uma linha. Para isso, vamos passar i+1.
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Media Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']}

In [37]:
cadastro["Estudante"] = [lista_completa[0][i][0] for i in range(len(lista_completa[0]))]
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Media Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado'],
 'Estudante': ['João', 'Maria', 'José', 'Cláudia', 'Ana']}

Recebemos uma demanda da instituição de ensino do nosso projeto que nos repassou uma lista de 20 estudantes e suas respectivas médias finais. Aqui, nós precisamos selecionar estudantes que tenham média final maior ou igual a 9.0. Esses(as) estudantes serão premiados(as) com uma bolsa de estudos para o próximo ano letivo.

Para filtrar os dados, temos que gerar um dicionário cujas chaves são os nomes e os valores são as médias dos(as) estudantes selecionados(as). Estes são os dados recebidos:

In [39]:
nomes_estudantes = [ "Enrico Monteiro", "Luna Pereira", "Anthony Silveira", "Letícia Fernandes",
                    "João Vitor Nascimento", "Maysa Caldeira", "Diana Carvalho", "Mariane da Rosa",
                    "Camila Fernandes", "Levi Alves", "Nicolas da Rocha", "Amanda Novaes",
                    "Laís Moraes", "Letícia Oliveira", "Lucca Novaes", "Lara Cunha",
                    "Beatriz Martins", "João Vitor Azevedo", "Stephany Rosa", "Gustavo Henrique Lima" ]

medias_estudantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 10.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 6.7, 8.2]

In [ ]:
#{expressao_chave: expressao_valor for item in iteravel if condicao}

In [43]:
bolsistas = {nomes_estudantes[i]: medias_estudantes[i]
             for i in range(len(nomes_estudantes))
              if medias_estudantes[i] >= 9}
bolsistas

{'Anthony Silveira': 9.1, 'Diana Carvalho': 10.0}

In [44]:
bolsistas = {nome: media
             for nome, media in zip(nomes_estudantes, medias_estudantes)
             if media >= 9.0}
bolsistas

{'Anthony Silveira': 9.1, 'Diana Carvalho': 10.0}


O zip, que "junta" as duas listas diretamente em pares (nome, media).

Assim você não precisa lidar com índices manualmente.

O código fica mais legível e elegante.