Vamos praticar o uso de estruturas de dados, como as listas e os dicionários, a partir de algumas atividades. Agora que estamos avançando nos conteúdos, podemos tornar os desafios mais interessantes. Para isso, vamos trabalhar com projetos de código!

Primeiro, vamos solucionar alguns problemas para aquecer e nos prepararmos para os projetos.

**Aquecendo na programação**

1. Faça um programa que tenha a seguinte lista contendo os valores de gastos de uma empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Com esses valores, faça um programa que calcule a média de gastos. Dica: use as funções built-in sum() e len().

2. Com os mesmos dados da questão anterior, defina quantas compras foram realizadas acima de 3000 reais e calcule a porcentagem quanto ao total de compras.

3. Faça um código que colete em uma lista 5 números inteiros quaisquer e imprima a lista. Exemplo: [1,4,7,2,4].

4. Colete novamente 5 inteiros e imprima a lista em ordem inversa à enviada.

5. Faça um programa que, ao inserir um número qualquer, cria uma lista contendo todos os números primos entre 1 e o número digitado.

6. Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é válida para uma análise.

**Momento dos projetos**

7. Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias por dia (em milhares) e pode ser observado a seguir: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: 100 * (amostra_atual - amostra_passada) / (amostra_passada).

8. Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

9. Desenvolva um programa que informa a nota de um(a) aluno(a) de acordo com suas respostas. Ele deve pedir a resposta desse(a) aluno(a) para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem as alternativas A, B, C ou D.

**Gabarito da prova:**
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

10. Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual e em que mês elas ocorreram, mostrando os meses por extenso (Janeiro, Fevereiro, etc.).

11. Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:

{'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

Escreva um código que calcule o total de vendas e o produto mais vendido.

12. Uma pesquisa de mercado foi feita para decidir qual design de marca infantil mais agrada as crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:

Tabela de votos da marca
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos

Adapte os dados fornecidos para uma estrutura de dicionário. A partir dele, informe o design vencedor e a porcentagem de votos recebidos.

13. As pessoas colaboradoras de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. O abono de cada colaborador(a) não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos(as) colaboradores(as) receberam o abono mínimo e qual o maior valor de abono fornecido.

14. Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área dessa floresta e armazenou essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in sum() e len().

15. O setor de RH da sua empresa te pediu uma ajuda para analisar as idades de colaboradores(as) de 4 setores da empresa. Para isso, foram fornecidos os seguintes dados:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65], 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64], 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56], 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Sabendo que cada setor tem 10 colaboradores(as), construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [ ]:
lista_gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

media_gastos = sum(lista_gastos) / len(lista_gastos)
print(f'A média de gastos é {media_gastos} reais.')

A média de gastos é 3144.222 reais.

In [ ]:
gastos_altos = len([i for i in lista_gastos if i > 3000])
porcentagem = (gastos_altos / len(lista_gastos)) * 100
print(f'{gastos_altos} compras foram acima de R$3000,00.')
print(f'{porcentagem:.2f}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.00% dos gastos foram acima de R$3000,00.

# **Resposta do Instrutor:**

In [ ]:
# Dados de gastos
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

# Variável que vai contar quantas compras foram feitas acima de 3000
contador_acima_3000 = 0
# Usamos o laço para ler a lista de gastos
for gasto in gastos:
  # Verificamos se o elemento está acima de 3000
  if gasto > 3000:
    # Acrescentamos mais um no contador, caso tenha algum valor acima de 3000
    contador_acima_3000 += 1

# Quantidade Compras
# Variável que vai ser utilizada para o cálculo da porcentagem
quantidade_compras = len(gastos)


# Com a contagem conseguimos calcular a porcentagem de valores acima de 3000 entre todas as compras
porcentagem_acima_3000 = 100 * (contador_acima_3000) / (quantidade_compras)

# Resultado
print(f'{contador_acima_3000} compras foram acima de R$3000,00.')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

In [ ]:
lista_numeros = []

for i in range(0, 5):
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)
print(f'Lista de números inseridos: {lista_numeros}')

Digite um número inteiro: 1
Digite um número inteiro: 4
Digite um número inteiro: 7
Digite um número inteiro: 2
Digite um número inteiro: 4
Lista de números inseridos: [1, 4, 7, 2, 4]

In [ ]:
lista_numeros = []

for i in range(0, 5):
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)

lista_numeros.reverse()
print(f'Lista de números inseridos em ordem inversa: {lista_numeros}')

Digite um número inteiro: 1
Digite um número inteiro: 4
Digite um número inteiro: 7
Digite um número inteiro: 2
Digite um número inteiro: 4
Lista de números inseridos em ordem inversa: [4, 2, 7, 4, 1]

#Resposta do instrutor:

In [ ]:
# Lista que irá armazenar os 5 números inteiros
lista_numeros = []

# Criamos um laço que vai iterar 5 vezes para receber os 5 números
for i in range(0, 5):
  # Coletamos o valor e inserimos na lista por 5 vezes
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)
# Usamos da lógica de partição para imprimir o resultado
print(f'Lista de números invertida: {lista_numeros[::-1]}')

Digite um número inteiro: 1
Digite um número inteiro: 4
Digite um número inteiro: 7
Digite um número inteiro: 2
Digite um número inteiro: 4
Lista de números invertida: [4, 2, 7, 4, 1]

In [ ]:
num_limite = int(input('Insira um número inteiro para encontrar os números primos até ele: '))

lista_primos = []

if num_limite >= 2:
    for num in range(2, num_limite + 1):
        primo = True
        for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                primo = False
                break
        if primo:
            lista_primos.append(num)

print(f'Os números primos entre 1 e {num_limite} são: {lista_primos}')

Insira um número inteiro para encontrar os números primos até ele: 188
Os números primos entre 1 e 188 são: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181]

#Resposta do instrutor

In [ ]:
# Coletamos o números
numero = int(input('Digite um número inteiro: '))
# Lista para receber os números primos
lista_primos = []
# Laço que vai rodar por todos os números abaixo do número digitado
for num in range(2, numero):
  # Primo é uma bandeira, ela permite sabermos se o valor analisado é ou não primo
  primo = True
  # Testamos se todos os números abaixo do especificado no primeiro laço podem
  # gerar uma divisão exata
  for teste_divisiveis in range(2, num):
    if num % teste_divisiveis == 0:
      # Caso seja divisivel por algum número entendemos que
      # o num não é primo e finalizamos o laço interno com break
      primo = False
      break
  # A condição se torna o resultado booleno de primo: False, ignoramos o condicional
  # True, executamos o bloco do if
  if primo:
    lista_primos.append(num)
# Resultado
print(f'Lista de números primos: {lista_primos}')

Digite um número inteiro: 188
Lista de números primos: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181]

In [ ]:
# Lista com número de dias por mês (fevereiro será ajustado depois)
dias_mes = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

while True:
    data = input("Insira uma data no formato dd/mm/aaaa: ")

    partes = data.split("/")
    if len(partes) == 3 and partes[0].isdigit() and partes[1].isdigit() and partes[2].isdigit():
        if len(partes[0]) == 2 and len(partes[1]) == 2 and len(partes[2]) == 4:
            dd = int(partes[0])
            mm = int(partes[1])
            aaaa = int(partes[2])

            # Verifica se o mês está entre 1 e 12
            if 1 <= mm <= 12:
                # Ajusta fevereiro se for ano bissexto
                if mm == 2 and (aaaa % 4 == 0 and (aaaa % 100 != 0 or aaaa % 400 == 0)):
                    dias_mes[1] = 29
                else:
                    dias_mes[1] = 28

                # Verifica se o dia é válido para o mês
                if 1 <= dd <= dias_mes[mm - 1]:
                    print("Data válida!")
                else:
                    print("Dia inválido para o mês informado!")
                break
    print("Formato inválido! Digite no modelo dd/mm/aaaa (ex: 25/02/1989).")

Insira uma data no formato dd/mm/aaaa: 25021989
Formato inválido! Digite no modelo dd/mm/aaaa (ex: 25/02/1989).
Insira uma data no formato dd/mm/aaaa: 25/13/1989
Formato inválido! Digite no modelo dd/mm/aaaa (ex: 25/02/1989).
Insira uma data no formato dd/mm/aaaa: 25/02/1989
Data válida!

#Resposta do instrutor:

In [ ]:
# Coletamos a data
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

# Análise de fevereiro
if mes == 2:
  # Verificamos se é ou não um ano bissexto
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28
  # Verificamos se o dia colocado corresponde ao máximo de dias de fevereiro
  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 31 dias
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 30 dias
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
# Caso o mês não esteja entre 1 e 12
else:
  print('Data inválida')

Digite o dia: 25
Digite o mês: 02
Digite o ano: 1989
Data válida

Codigo de referencia do Gpt, usando import:

In [ ]:
from datetime import datetime

while True:
    data = input("Insira uma data no formato dd/mm/aaaa: ")

    try:
        # Tenta criar um objeto datetime a partir do input
        data_obj = datetime.strptime(data, "%d/%m/%Y")
        print(f"A data {data_obj.strftime('%d/%m/%Y')} é válida.")
        break  # data válida, sair do loop
    except ValueError:
        print("Data inválida ou formato incorreto! Use dd/mm/aaaa.\n")

Insira uma data no formato dd/mm/aaaa: 28
Data inválida ou formato incorreto! Use dd/mm/aaaa.

Insira uma data no formato dd/mm/aaaa: 25/021989
Data inválida ou formato incorreto! Use dd/mm/aaaa.

Insira uma data no formato dd/mm/aaaa: 25/02/1989
A data 25/02/1989 é válida.

In [ ]:
dados_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
percentual_crescimento = []

for i in range(1, len(dados_bacterias)):
  amostra_atual = dados_bacterias[i]
  amostra_passada = dados_bacterias[i-1]
  crescimento = 100 * (amostra_atual - amostra_passada) / (amostra_passada)
  percentual_crescimento.append(crescimento)

print(f'Percentual de crescimento diário: {percentual_crescimento}')

Percentual de crescimento diário: [75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

#Resposta do instrutor:

In [ ]:

bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

porcentagem_crescimento = []

for i in range(1, len(bacterias_colonia)):
  porcentagem = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])
  porcentagem_crescimento.append(porcentagem)

print(f'Porcentagens de crescimento:\n{porcentagem_crescimento}')

Porcentagens de crescimento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

In [2]:
doces = 0
amargos = 0

for i in range(0, 10):
  id_produto = int(input(f'Digite o ID do {i+1}º produto: '))
  if id_produto % 2 == 0:
    doces += 1
  else:
    amargos += 1

print(f'Foram inseridos {doces} produtos doces e {amargos} produtos amargos.')

Digite o ID do 1º produto: 10
Digite o ID do 2º produto: 12
Digite o ID do 3º produto: 57
Digite o ID do 4º produto: 63
Digite o ID do 5º produto: 55
Digite o ID do 6º produto: 98
Digite o ID do 7º produto: 88
Digite o ID do 8º produto: 64
Digite o ID do 9º produto: 33
Digite o ID do 10º produto: 22
Foram inseridos 6 produtos doces e 4 produtos amargos.

#Resposta do instrutor:

In [3]:
# Lista que vai receber os valores de IDs
ids = []
# Variáveis contadoras de doces e amargos
doce = 0
amargo = 0

# Criamos um laço que vai iterar 10 vezes para receber os 10 IDs
for i in range(0,10):
  # Coletamos o ID e adicionamos o id na lista
  ids.append(int(input(f'Digite o {i+1}° ID: ')))

# Ler todos os elementos da lista ids e atribuir à id
for id in ids:
  # Verificamos se os elementos são pares ou ímpares para fazer a contagem
  if id % 2 == 0:
    doce += 1
  else:
    amargo += 1

# Resultado
print(f'Quantidade de produtos doces: {doce}')
print(f'Quantidade de produtos amargos: {amargo}')

Digite o 1° ID: 10
Digite o 2° ID: 55
Digite o 3° ID: 88
Digite o 4° ID: 77
Digite o 5° ID: 25
Digite o 6° ID: 98
Digite o 7° ID: 63
Digite o 8° ID: 97
Digite o 9° ID: 32
Digite o 10° ID: 195
Quantidade de produtos doces: 4
Quantidade de produtos amargos: 6

In [4]:
gabarito_prova = {
    1: 'D',
    2: 'A',
    3: 'C',
    4: 'B',
    5: 'A',
    6: 'D',
    7: 'C',
    8: 'C',
    9: 'A',
    10: 'B'
}

aluno = input('Digite o nome do aluno(a): ')
respostas_aluno = {}
pontuacao = 0

print(f'\nPor favor, digite a resposta do(a) aluno(a) {aluno} para cada questão (A, B, C ou D):')

for questao in gabarito_prova:
    while True:
        resposta = input(f'Questão {questao}: ').upper()
        if resposta in ['A', 'B', 'C', 'D']:
            respostas_aluno[questao] = resposta
            break
        else:
            print('Resposta inválida. Por favor, digite A, B, C ou D.')

for questao, resposta_gabarito in gabarito_prova.items():
    if respostas_aluno.get(questao) == resposta_gabarito: #para não esquecer, get() em um dicionário retorna o valor da chave
        pontuacao += 1

print(f'\nResultado do(a) aluno(a) {aluno}:')
print(f'Nota: {pontuacao}/{len(gabarito_prova)}')

Digite o nome do aluno(a): Paulo

Por favor, digite a resposta do(a) aluno(a) Paulo para cada questão (A, B, C ou D):
Questão 1: Paulo
Resposta inválida. Por favor, digite A, B, C ou D.
Questão 1: A
Questão 2: A
Questão 3: A
Questão 4: A
Questão 5: A
Questão 6: A
Questão 7: A
Questão 8: A
Questão 9: A
Questão 10: A

Resultado do(a) aluno(a) Paulo:
Nota: 3/10

#Resposta do instruto:

In [5]:
# Inicializamos os dados
respostas = [] # Lista para receber as respostas
# Lista de gabaritos
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0 # Irá acumular a nota total

# Recebemos as respostas do aluno
for i in range(0, 10):
  respostas.append(input(f'Insira a resposta da questão {i + 1}: ').upper())

# Verificamos se as respostas são iguais e adicionamos à nota
for i in range(0,10):
  if respostas[i] == gabarito[i]:
    nota += 1

# Exibindo nota final
print(f'Nota final: {nota}')

Insira a resposta da questão 1: A
Insira a resposta da questão 2: A
Insira a resposta da questão 3: A
Insira a resposta da questão 4: A
Insira a resposta da questão 5: A
Insira a resposta da questão 6: A
Insira a resposta da questão 7: A
Insira a resposta da questão 8: a
Insira a resposta da questão 9: a
Insira a resposta da questão 10: A
Nota final: 3

In [7]:
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
temp_media = []

for i in range(12):
  temperatura = float(input(f'Digite a temperatura média do mês de {meses[i]}: '))
  temp_media.append(temperatura)

media_anual = sum(temp_media) / len(temp_media)

print(f'\nA temperatura média anual é: {media_anual:.2f}°C')
print('\nMeses com temperatura acima da média anual:')

for i in range(12):
  if temp_media[i] > media_anual:
    print(f'{meses[i]}: {temp_media[i]:.2f}°C')

Digite a temperatura média do mês de Janeiro: 36
Digite a temperatura média do mês de Fevereiro: 36
Digite a temperatura média do mês de Março: 32
Digite a temperatura média do mês de Abril: 30
Digite a temperatura média do mês de Maio: 28
Digite a temperatura média do mês de Junho: 21
Digite a temperatura média do mês de Julho: 18
Digite a temperatura média do mês de Agosto: 22
Digite a temperatura média do mês de Setembro: 18
Digite a temperatura média do mês de Outubro: 30
Digite a temperatura média do mês de Novembro: 32
Digite a temperatura média do mês de Dezembro: 33

A temperatura média anual é: 28.00°C

Meses com temperatura acima da média anual:
Janeiro: 36.00°C
Fevereiro: 36.00°C
Março: 32.00°C
Abril: 30.00°C
Outubro: 30.00°C
Novembro: 32.00°C
Dezembro: 33.00°C

In [9]:
vendas = {
    'Produto A': 300,
    'Produto B': 80,
    'Produto C': 60,
    'Produto D': 200,
    'Produto E': 250,
    'Produto F': 30
}

total_vendas = sum(vendas.values())
produto_mais_vendido = max(vendas, key=vendas.get)

print(f'Total de vendas: {total_vendas}')
print(f'Produto mais vendido: {produto_mais_vendido}')

Total de vendas: 920
Produto mais vendido: Produto A

In [11]:

Tabela_votos = {
    'Design 1' : 1334,
    'Design 2' : 982,
    'Design 3' : 1751,
    'Design 4' : 210,
    'Design 5' : 1811,
}

vencedor = max(Tabela_votos, key=Tabela_votos.get)
porcentagem_vencedor = (Tabela_votos[vencedor] / sum(Tabela_votos.values())) * 100

print(f'O design vencedor foi o {vencedor} com {Tabela_votos[vencedor]} votos, representando {porcentagem_vencedor:.2f}% dos votos.')

O design vencedor foi o Design 5 com 1811 votos, representando 29.75% dos votos.

#Resposta do instruto:

In [12]:
# Dicionário de votos por design
votos = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}

# Inicializamos as variáveis
total_votos = 0 # Irá somar todos os votos
vencedor = '' # Irá armazenar o nome do design vencedor
voto_vencedor = 0 # Irá armazenar a quantidade vencedora de votos

# Percorremos os valores de chaves e elementos do dicionário
for design, voto_desing in votos.items():
  # Somamos o total de votos
  total_votos += voto_desing
  # Verificamos se o voto do atual desing (voto_desing) é maior que o valor armazenado em voto_vencedor
  # Cada vez que voto_desing superar o valor em voto_vencedor,
  # a variável voto_vencedor vai ser igual à voto_desing, atribuindo um novo valor
  # De forma similar, o vencedor também é substituído pelo design
  if voto_desing > voto_vencedor:
    voto_vencedor = voto_desing
    vencedor = design
# Calculamos a porcentagem do design vencedor
porcentagem = 100 * (voto_vencedor) / (total_votos)

#Resultado
print(f'{vencedor} é o vencedor: ')
print(f'Porcentagem de votos: {porcentagem}%')

Design 5 é o vencedor:
Porcentagem de votos: 29.747043363994745%

#Resposta do GPT com coleta e formatação automatica :

In [14]:
import re

# Texto bruto da tabela
texto = """
Design 1 - 1334 votos
Design 2 - 982 votos
Design 3 - 1751 votos
Design 4 - 210 votos
Design 5 - 1811 votos
"""

# Extrair pares (Design, votos) automaticamente
Tabela_votos = {
    match[0]: int(match[1])
    for match in re.findall(r"(Design \d+) - (\d+)", texto)
}

# Calcular vencedor e porcentagem
vencedor = max(Tabela_votos, key=Tabela_votos.get)
porcentagem_vencedor = (Tabela_votos[vencedor] / sum(Tabela_votos.values())) * 100

print(f"O design vencedor foi o {vencedor} com {Tabela_votos[vencedor]} votos, "
      f"representando {porcentagem_vencedor:.2f}% dos votos.")

O design vencedor foi o Design 5 com 1811 votos, representando 29.75% dos votos.

In [16]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
abonos = {}
total_abono = 0
abono_minimo_count = 0
maior_abono = 0

for salario in salarios:
  abono_calculado = salario * 0.10
  abono_final = max(abono_calculado, 200) # Garante que o abono seja no mínimo 200

  abonos[salario] = abono_final
  total_abono += abono_final

  if abono_final == 200:
    abono_minimo_count += 1

  if abono_final > maior_abono:
    maior_abono = abono_final

print(f'Total de gastos com abono: R$ {total_abono:.2f}')
print(f'Quantidade de colaboradores que receberam o abono mínimo (R$ 200,00): {abono_minimo_count}')
print(f'Maior valor de abono fornecido: R$ {maior_abono:.2f}')

Total de gastos com abono: R$ 6087.80
Quantidade de colaboradores que receberam o abono mínimo (R$ 200,00): 2
Maior valor de abono fornecido: R$ 790.30

#Resposta do instrutor:

In [17]:
# Lista de salários
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos as variáveis
dic_abonos = {} # Dicionário de abonos
total_abono = 0 # Irá somar todos os gastos com abono
abonos_minimo = 0 # Irá armazenar a quantidade de abonos mínimos
maior_abono = 0 # Irá armazenar o maior valor de abono

# Percorremos toda a lista de salários
for salario in salarios:
  # Calculamos o valor teórico de abono
  abono = salario * 0.1
  # Caso o abono seja inferior a 200,
  # ajustamos o valor de abono para o mínimo (200)
  if abono < 200:
    abono = 200
  # Adicionamos um novo dado no dicionário chave abono
  dic_abonos[salario] = abono

# Percorremos todos os valores do dicionário de abonos
for abono in dic_abonos.values():
  # Contamos o salário minimo
  if abono == 200:
    abonos_minimo += 1
  # Verificamos se o abono lido é maior que o valor armazenado em maior_abono
  # Cada vez que o abono superar o valor de maior_abono,
  # a variável maior_abono vai ser igual à abono, atribuindo um novo valor
  if abono > maior_abono:
    maior_abono = abono
  # Somamos os abonos
  total_abono += abono
# Resultados
print(f'Abonos: {dic_abonos}')
print(f'Total de gasto com abonos: {total_abono}')
print(f'Número de funcionários que receberam o abono mínimo: {abonos_minimo}')
print(f'Maior valor de abono: {maior_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gasto com abonos: 6087.8
Número de funcionários que receberam o abono mínimo: 2
Maior valor de abono: 790.3000000000001

In [18]:
dados_diversidade = {
    'Área Norte': [2819, 7236],
    'Área Leste': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}

total_especies_por_area = {}
total_geral_especies = 0
total_areas = len(dados_diversidade)
area_maior_diversidade = ''
maior_numero_especies = 0

for area, especies in dados_diversidade.items():
  total_especies_area_atual = sum(especies)
  total_especies_por_area[area] = total_especies_area_atual
  total_geral_especies += total_especies_area_atual

  if total_especies_area_atual > maior_numero_especies:
    maior_numero_especies = total_especies_area_atual
    area_maior_diversidade = area

media_especies_por_area = total_geral_especies / total_areas

print(f'Média de espécies por área: {media_especies_por_area:.2f}')
print(f'Área com a maior diversidade biológica: {area_maior_diversidade} com {maior_numero_especies} espécies.')

Média de espécies por área: 33258.40
Área com a maior diversidade biológica: Área Centro com 67706 espécies.

#Resposta do instrutor

In [22]:
# Especificamos os dados para um dicionário
dados = {'Área Norte': [2819, 7236],
         'Área Leste': [1440, 9492],
         'Área Sul': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
# Inicializamos as variáveis
soma_media = 0 # Irá somar todas as médias
maior_diversidade = '' # Irá armazenar a área com maior diversidade
maior_soma = 0 # Irá armazenar a maior soma de espécies
# Percorremos os valores de chaves e elementos do dicionário
for area, especies in dados.items():
  # Fazemos a soma do números de espécies em cada área com a função sum
  soma_especies = sum(especies)
  # Calculamos a média dividindo a soma das espécies pela quantidade de espécies
  media = soma_especies / len(especies)
  # Imprimimos
  print(f'A {area} tem a média de {media} espécies')
  # Verificamos se a soma das espécies é maior que o valor armazenado de maior_soma
  # Cada vez que a soma_especies superar o valor de maior_soma,
  # a variável maior_soma vai ser igual à soma_especies, atribuindo um novo valor
  # De forma similar, maior_diversidade também é substituída
  if soma_especies > maior_soma:
      maior_soma = soma_especies
      maior_diversidade = area
  # Somamos as médias
  soma_media += media
# A média total será dada pela soma_media dividida pela quantidade de áreas
media_total = soma_media / len(dados)
print(f'Média geral de espécies: {media_total}')
print(f'Área com a maior diversidade biológica: {maior_diversidade}')

A Área Norte tem a média de 5027.5 espécies
A Área Leste tem a média de 5466.0 espécies
A Área Sul tem a média de 6732.5 espécies
A Área Oeste tem a média de 32067.0 espécies
A Área Centro tem a média de 33853.0 espécies
Média geral de espécies: 16629.2
Área com a maior diversidade biológica: Área Centro

In [20]:
dados_idades = {
    'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}

total_idades_geral = 0
total_pessoas_geral = 0
idades_individuais = []

print('Média de idade por setor:')
for setor, idades in dados_idades.items():
  media_setor = sum(idades) / len(idades)
  print(f'{setor}: {media_setor:.2f}')

  total_idades_geral += sum(idades)
  total_pessoas_geral += len(idades)
  idades_individuais.extend(idades)

media_geral = total_idades_geral / total_pessoas_geral

acima_media_geral_count = 0
for idade in idades_individuais:
  if idade > media_geral:
    acima_media_geral_count += 1

print(f'\nIdade média geral entre todos os setores: {media_geral:.2f}')
print(f'Número de pessoas acima da idade média geral: {acima_media_geral_count}')

Média de idade por setor:
Setor A: 39.90
Setor B: 42.30
Setor C: 35.80
Setor D: 36.50

Idade média geral entre todos os setores: 38.62
Número de pessoas acima da idade média geral: 18