---

# üìù Lista de Exerc√≠cios ‚Äî List Comprehension & Dict Comprehension em Python

## üîπ Aquecimento

**1. Soma dos elementos de listas aninhadas**
Crie um c√≥digo para imprimir a soma dos elementos de cada uma das listas contidas em:

```python
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

---

**2. Terceiro elemento de tuplas**
Crie um c√≥digo para gerar uma lista que armazena o terceiro elemento de cada tupla em:

```python
lista_de_tuplas = [('Pedro', 1.74, 81), ('J√∫lia', 1.65, 67), ('Ot√°vio', 1.81, 83)]
```

---

**3. √çndice e nome em tuplas**
Dada a lista:

```python
lista = ['Pedro', 'J√∫lia', 'Ot√°vio', 'Eduardo']
```

Crie uma lista de tuplas em que cada tupla tenha:

* O primeiro elemento = posi√ß√£o do nome na lista
* O segundo elemento = o pr√≥prio nome.

---

**4. Filtrar valores de aluguel**
A partir da lista:

```python
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

Crie uma lista usando **list comprehension** que armazena somente o valor num√©rico das tuplas em que o primeiro elemento seja `'Apartamento'`.

---

**5. Dicion√°rio de despesas por m√™s**
Crie um dicion√°rio usando **dict comprehension** a partir de:

```python
meses   = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
```

As chaves devem ser os meses e os valores as respectivas despesas.

---

## üîπ Aplicando a projetos

**6. Filtrar vendas de 2022 acima de 6000**
A loja possui:

```python
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141),
          ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471),
          ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```

Crie uma lista usando **list comprehension** que filtre os valores de 2022 com vendas maiores que 6000.

---

**7. Classifica√ß√£o de glicemia**
Regras:

* ‚â§ 70 ‚Üí `'Hipoglicemia'`
* 70‚Äì99 ‚Üí `'Normal'`
* 100‚Äì125 ‚Üí `'Alterada'`
* > 125 ‚Üí `'Diabetes'`

Dados:

```python
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

Crie uma lista de tuplas no formato `(r√≥tulo, valor)` usando list comprehension.

---

**8. Estruturar dados de vendas do e-commerce**
Dados:

```python
id          = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade  = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco       = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

Monte uma lista de tuplas no formato de **tabela**, em que cada tupla cont√©m:
`(id, quantidade, pre√ßo, total)`
A primeira tupla deve ser o cabe√ßalho:

```python
('id', 'quantidade', 'preco', 'total')
```

---

**9. Contagem de filiais por Estado**
Dada a lista:

```python
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ',
           'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
```

Crie um dicion√°rio usando **dict comprehension** em que:

* A chave = sigla do Estado
* O valor = quantidade de vezes que o Estado aparece na lista.

---

**10. Soma de funcion√°rios por Estado**
Dados:

```python
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4),
                ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8),
                ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12),
                ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
```

* Crie um dicion√°rio em que as chaves s√£o os **Estados √∫nicos** e os valores s√£o **listas** com o n√∫mero de colaboradores(as).
* Depois crie outro dicion√°rio em que os valores s√£o a **soma de colaboradores(as)** por Estado.

---

In [1]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
lista_soma = [sum(lista) for lista in lista_de_listas]
print(lista_soma)

[24, 10, 16]

In [2]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('J√∫lia', 1.65, 67), ('Ot√°vio', 1.81, 83)]
lista_terceiro_elemento = [tupla[2] for tupla in lista_de_tuplas]
print(lista_terceiro_elemento)

[81, 67, 83]

In [7]:
lista = ['Pedro', 'J√∫lia', 'Ot√°vio', 'Eduardo']
# lista.index(nome) encontra o √≠ndice de cada 'nome' na 'lista'
lista_indice_nome = [(lista.index(nome), nome) for nome in lista]
print(lista_indice_nome)

[(0, 'Pedro'), (1, 'J√∫lia'), (2, 'Ot√°vio'), (3, 'Eduardo')]

In [8]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

aluguel_apartamentos = [valor for tipo, valor in aluguel if tipo == 'Apartamento']

print(aluguel_apartamentos)

[1700, 1400, 1900]

In [13]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

meses_despesa = {meses: despesa for meses, despesa in zip(meses,despesa)}
meses_despesa

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [19]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
vendas_2022 = [valor for ano, valor in vendas if ano == '2022' and valor >= 6000]
vendas_2022

[8883, 7688, 9544, 8190]

In [25]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109,
            62, 86, 96, 103, 88, 155, 52, 89, 73]

def classificar_glicose(valor):
    if valor <= 70:
        return "Hipoglicemia"
    elif valor < 100:
        return "Normal"
    elif valor < 126:
        return "Alterada"
    else:
        return "Diabetes"

rotulos = list(map(lambda x: (classificar_glicose(x), x), glicemia))
rotulos

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

In [26]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

preco_total = [quantidade * preco for quantidade, preco in zip(quantidade, preco)]
tabela = [('id', 'quantidade', 'preco', 'total')] + list(zip(id, quantidade, preco, preco_total))
tabela

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [30]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

contagem_estados = {estado: estados.count(estado) for estado in set(estados)}
contagem_estados

{'MG': 7, 'RJ': 2, 'SP': 8, 'ES': 6}

In [32]:
# Lista de tuplas: (Estado, quantidade de colaboradores)
funcionarios = [
    ('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4),
    ('ES', 9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG', 8),
    ('ES', 8), ('SP', 9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12),
    ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)
]

# Usamos um set para extrair apenas os estados √∫nicos da lista
estados_unicos = set(estado for estado, _ in funcionarios)

# Criamos um dicion√°rio em que cada chave √© um estado
# e o valor √© uma lista com as quantidades de colaboradores desse estado
funcionarios_por_estado = {
    estado: [qtd for est, qtd in funcionarios if est == estado]
    for estado in estados_unicos
}

print(funcionarios_por_estado)

{'MG': [9, 6, 4, 8, 5, 10, 12],
 'RJ': [13, 9],
 'SP': [16, 10, 7, 11, 9, 12, 7, 10],
 'ES': [8, 9, 7, 12, 8, 14]}